
<div class="row">
  <div class="col-sm-8">
    <div class="card bg-dark text-white">
      <img class="card-img"  src="{{name || 'assets/image/face3.jpg'}}"  alt="Select image">
      <div class="card-img-overlay">
        <h5 class="card-title" [innerHTML]="text"></h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="md-form">
      <label  class="font-weight-bold">Create meme</label>
    </div>
    <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="text"></app-ngx-editor>
  </div>
</div>
<div>
  <hr>
  <p class="font-weight-bold">List Of Images</p>
 <hr>
</div>

<div  class="holder"  *ngFor="let picture of pictures">
  <img src="assets/image/{{picture.name}}.jpg" alt="image" (click)="SelectPicture(picture.name)" >
</div>





